.title{
    text-align: center;
    margin-top: 25px;
}

.img-container {
    text-align: center;
    margin-top: 20px; 
}

.img-container button{
    border: none; 
    border-radius: 3px; 
    position: relative;
    top: 80px;
}

button img{
    width: 25px;
    height: 25px;
}

.datos .info {
    margin-left: 250px; 
}

h2 button{
    border: none; 
    border-radius: 3px; 
}

.empresas_fav .info{
    margin-left: 600px; 
}

form {
    display: inline; /* Para que el formulario se muestre en línea */
    margin: 0; /* Elimina cualquier margen que el formulario pueda tener por defecto */
    padding: 0; /* Elimina cualquier relleno que el formulario pueda tener por defecto */
    border: none; /* Elimina cualquier borde que el formulario pueda tener por defecto */
    background: none; /* Elimina cualquier fondo que el formulario pueda tener por defecto */
}
