.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.contain {
    overflow-y: scroll;
}

.contain::-webkit-scrollbar{
    display: none;
}

.containerr {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.img {
    width: 15%;
    height: 20%;
    margin: 2% auto;
}

.nombre {
    font-weight: bold;
    font-size: 3em;
}

.sub {
    margin-top: 1%;
    font-weight: bold;
    font-size: 1.5em;
}

.content {
    font-size: 1.3em;
    width: 90%;
 
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

.popup-content label {
    display: block;
    margin-bottom: 10px;
}

.popup-content input[type="text"],
.popup-content input[type="email"],
.popup-content button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.popup-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #45a049;
}

.comment {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
}

.comentarios{
    border: none;
    width: 90%;
}


.comentario {
    border: none;
    background-color: #5489DC;
    border-radius: 25px;
    height: 40%;
    width: 100%;
    margin: 2% 0% 2% 0%;
    padding: 1% 1% 0% 1%;
    display: flex;
    flex-direction: column;
}

.numcomentarios{
    background-color: white;
    font-weight: bold;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 25px;
    text-align: center;
    font-size: 1.7em;
}

.comments {
    background-color: white;
    padding: 1%;
    border-radius: 25px;
    margin-bottom: 1%;
}

.usuario {
    font-weight: bold;
    font-size: 1.5em;
}

.fecha {
    font-weight: lighter;
    font-size: 0.8em;
}

p {
    font-size: 1.5em;
}

.comment {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
}

.comentarios{
    border: none;
    width: 90%;
}


.comentario {
    border: none;
    background-color: #5489DC;
    border-radius: 25px;
    height: 40%;
    width: 100%;
    margin: 2% 0% 2% 0%;
    padding: 1% 1% 0% 1%;
    display: flex;
    flex-direction: column;
}

.numcomentarios{
    background-color: white;
    font-weight: bold;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 25px;
    text-align: center;
    font-size: 1.7em;
}

.comments {
    background-color: white;
    padding: 1%;
    border-radius: 25px;
    margin-bottom: 1%;
}

.usuario {
    font-weight: bold;
    font-size: 1.5em;
}

.fecha {
    font-weight: lighter;
    font-size: 0.8em;
}


.masInfo{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.imgemocion {
    height: 50px;
}

