{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<title>Home</title>
    <div class="contenedor">
        <div class="texto">
            <h1 class="slogan">Diagnostico integral a un click de distancia</h1>
            <br>
            <h4 class="exp">Con nuestra plataforma, recopilamos opiniones laborales 
                dispersas en la web para ofrecerte un tablero completo sobre 
                la reputación de las empresas como empleadoras, ayudándote 
                a tomar decisiones sobre tu futuro profesional
            </h4> <br>
            <a class="registrarse" href="/registrarse">
                <h2 class="start">Registrate!</h2> 
            </a>
        </div>
        <div class="photo">
            <img src="{% static 'img.png' %}" class="img" alt="">
            <img src="{% static 'img2.png' %}" class="img2" alt="">
        </div>
</div>
    
{% endblock content %}