<!-- <h1> Bienvenido a CorpFinder </h1> -->
<h1> Bienvenido a CorpFinder {{name}} </h1>
<h2> Esta es la página de inicio </h2>

<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="buscarEmpresa" class="form-label">
                Buscar por Empresa:
            </label>
            <input type="text" class="form-control" name="buscarEmpresa">
        </div>
    </form>
    <p>Buscando para {{searchTerm}}</p>
        {% for Empresa in empresas %}
                <h2>{{Empresa.nombre}}</h2>
                <img src="{{Empresa.imagen.url}}" alt="">
                <h3>Descripción: {{Empresa.descripcion}}</h3>
                <h3>Tipo: {{Empresa.tipo}}</h3>
                <h3>Ubicación: {{Empresa.ubicacion}}</h3>
                <h3>Salario: {{Empresa.salario}}</h3>
                <h3>Redes sociales: {{Empresa.redes}}</h3>
        {% endfor %}
    <br>
</div>