{% extends 'base3.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'paginaPrincipal.css' %}">
<title>Pagina Principal Empresa</title>

<body>
    <div class="contain">
        <div class="contenedor">
            <form class="busqueda" action="">
                <div class="mb-3">
                    <label for="buscarEmpresa" class="form-label">
                        Buscar Empresa:
                    </label>
                    <input type="text" class="form-control" name="buscarEmpresa" value="{{ searchTerm|default:'' }}">
                </div>
            </form>
            {% if searchTerm %}
                <p class="buscando">Buscando para "{{ searchTerm }}"</p>
            {% endif %}
            
            <div class="empresas">
                {% if empresas %}
                    {% for Empresa in empresas %}
                    <div class="empresa">
                        <div class="uno">
                            <img class="imag" src="{{ Empresa.logo_empresa }}" alt="">
                            {% if Empresa not in empresas_fav %}    
                            <form method="post" action="{% url 'agregar_empresa_fav' Empresa.id %}">
                                <button class="boton"><img src="/media/corp/images/guardar_fav.png" alt=""></button> 
                            </form>  
                            {% else %}
                            <form method="post" action="{% url 'quitar_empresa_fav' Empresa.id %}">
                                <button class="boton"><img src="/media/corp/images/quitar_fav.png" alt=""></button> 
                            </form> 
                            {% endif %}
                        </div>
                        <div class="dos">
                            <h3 class="nombre">{{ Empresa.nombre_empresa }}</h3>
                            {% if Empresa.subtitle2_content%}
                            <p class="Desc">{{ Empresa.subtitle2_content }}</p>
                            {%else%}
                            <p class="alert alert-warning">Esta empresa no tiene descripcion</p>
                            {% endif %}
                            <a href="{% url 'detallesEmpresaEmpresa' Empresa.id %}" class="btn btn-primary btn-sm">Detalles</a>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    {% if searchTerm %}
                        <div class="alert alert-warning" role="alert">
                            No se encontraron resultados para tu búsqueda.
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock content %}
