{% extends 'base3.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'paginaPrincipal.css' %}">

<h1> Bienvenido a CorpFinder {{name}} </h1>
<h2> Esta es la página de inicio </h2>

<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="buscarEmpresa" class="form-label">
                Buscar por Empresa:
            </label>
            <input type="text" class="form-control" name="buscarEmpresa">
        </div>
    </form>
    <p>Buscando para {{searchTerm}}</p>
        {% for Empresa in empresas %}
                <h2>{{Empresa.nombre_empresa}}</h2>
                <img src="{{Empresa.logo_empresa}}" alt="">
                <br><a href="{% url 'detallesEmpresa' Empresa.id %}" class="btn btn-primary btn-sm">Detalles</a>
        {% endfor %}
    <br>
</div>

{% endblock content %}