{% extends 'base3.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'paginaPrincipal.css' %}">

<body>
    <div class="contenedor">
        <div class="perfil">
            <a href="/perfil">Tu perfil</a>
        </div>
        <form class="busqueda" action="">
            <div class="mb-3">
                <label for="buscarEmpresa" class="form-label">
                    Buscar Empresa:
                </label>
                <input type="text" class="form-control" name="buscarEmpresa">
            </div>
        </form>
        <p class="buscando">Buscando para {{searchTerm}}</p>
            <div class="empresas">
                {% for Empresa in empresas %}
                <div class="empresa">
                    <div class="uno">
                        <img class="imag" src="{{Empresa.logo_empresa}}" alt="">
                        <h3 class="tipo">Tipo: {{Empresa.tipo}}</h3>
                        <h3 class="ubi">Ubicación: {{Empresa.ubicacion}}</h3>
                        <h3 class="salario">Salario: {{Empresa.salario}}</h3>
                    </div>
                    <div class="dos">
                        <h2 class="nombre">{{Empresa.nombre_empresa}}</h2>
                        <h3 class="Desc">Descripción: {{Empresa.descripcion}}</h3>
                        <h3 class="calif">Calificacion: {{Empresa.calificacion}}</h3>
                        <h3 class="redes">Redes sociales: {{Empresa.redes}}</h3>
                        <a href="{% url 'detallesEmpresa' Empresa.id %}" class="btn btn-primary btn-sm">Detalles</a>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</body>
    

{% endblock content %}